<html>
    <head>
        <title>Video Editing </title>
    </head>
    <body>
        <form action = "/add_text" method="POST" enctype="multipart/form-data">
            
        <label for="video">Upload  Video:</label>
        <input type="file" name="video" accept="video/*" required><br><br>

        <label for="text">Text:</label>
        <input type="text" name="text" required><br><br>


   


            <input type = "submit" value="Generate and Download">
        </form>
        </body>
</html>